<div class="mainContainer fixed rounded-4">
  <nav class="m-3 navbar navbar-expand-lg navbar-light sticky-top rounded-4" aria-label="Main Navigation">
    <div class="container-fluid rounded-4">

      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="/whitelightning-500x500.png" alt="Logo" width="50" class="rounded-4">
      </a>

      <!-- Navbar Toggle Button (for Mobile) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
        </ul>

        <!-- Hire Me Button -->
        <div class="d-flex ms-lg-3 mt-2 mt-lg-0">
          <a class="hiremebutton" href="/hireme"> <button class="hiremebutton btn btn-md px-4">Hire Me</button></a>
        </div>
      </div>
    </div>
  </nav>
</div>
