
<div class="mainContainer fixed rounded-4">
  <nav class="m-3 navbar rounded-4 navbar-expand navbar-light  sticky-top" aria-label="Second navbar example">
    <div class="container-fluid rounded-4">
      <img style="width: 50px;" class="rounded-4" src="/whitelightning-500x500.png" alt="Logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="ms-5 collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
        </ul>
        <form role="search">
          <button class="hiremebutton btn  btn-md px-4 me-md-2">Hire Me</button>
        </form>
      </div>
    </div>
  </nav>
</div>
