<div class="px-4 pt-5 my-5 text-center ">
  <h1 class="display-4 fw-bold text-dark">My Portfolio</h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead text-dark mb-5">Welcome to my portfolio! Here, you’ll find a collection of my web development
      projects that showcase my skills in front-end and back-end development, UI/UX design, and modern web technologies.
      Each project reflects my commitment to creating fast, responsive, and user-friendly digital experiences.

      Explore my work below, and feel free to reach out if you’d like to collaborate on something amazing!</p>

  </div>
  <div class="overflow-hidden" style="max-height: 40vh;">
    <div class="container px-5">
      <img src="jetskiwebpage.JPG" class="img-fluid  rounded-3 shadow-lg mb-4" alt="Example image" width="700"
        height="500" loading="lazy">
    </div>
  </div>
</div>

<!-- Portfolio cards -->
<div class="portCards row row-cols-1 m-2 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <!-- efc Batteries start -->
    <article class="card">
      <section class="card__hero">
        <header class="card__hero-header">
          <span>Automotive</span>
          <div class="card__icon">
          </div>
        </header>
        <p class="">EFC Batteries Gazina</p>
        <img class="rounded-3" src="efcBatteries.png" width="60px" alt="">
      </section>

      <footer class="card__footer">
        <div class="card__job-summary">
          <div class="card__job-icon">
            <img class="rounded" height="30" width="30" viewBox="0 0 250 250" src="whitelightning-500x500.png">
          </div>
          <div class="card__job">
          </div>
        </div>

        <button class="card__btn">view</button>
      </footer>
    </article>
    <!-- EFC Batteries end -->
  </div>

  <div class="col">
    <!-- Kiings vip mobile car wash -->
    <article class="card">
      <section class="card__hero">
        <header class="card__hero-header">
          <span>Automotive</span>
          <div class="card__icon">
          </div>
        </header>

        <p class="">Kiings vip mobile car wash</p>
        <img src="kingslogo.png" width="60px" alt="">
      </section>

      <footer class="card__footer">
        <div class="card__job-summary">
          <div class="card__job-icon">
            <img height="30" width="30" viewBox="0 0 250 250" src="whitelightning-500x500.png">
          </div>
          <div class="card__job">
          </div>
        </div>
        <button class="card__btn">view</button>
      </footer>
    </article>
    <!-- Kiings vip mobile end -->
  </div>

  <div class="col">
    <!-- Found your pet start  -->
    <article class="card">
      <section class="card__hero">
        <header class="card__hero-header">
          <span>Pet welfare</span>
          <div class="card__icon">
          </div>
        </header>

        <p class="">Found your pet</p>
        <img class="rounded" src="foundyourpet.png" width="60px" alt="">
      </section>

      <footer class="card__footer">
        <div class="card__job-summary">
          <div class="card__job-icon">
            <img height="30" width="30" viewBox="0 0 250 250" src="whitelightning-500x500.png">
          </div>
          <div class="card__job">
          </div>
        </div>

        <button class="card__btn">view</button>
      </footer>
    </article>
    <!-- Found your pet end -->
  </div>

  <div class="col">
    <article class="card">
      <section class="card__hero">
        <header class="card__hero-header">
          <span>Venture Rentals</span>
          <div class="card__icon">
          </div>
        </header>

        <p class="">Jet ski and more</p>
        <img class="rounded" src="jetskilogo.png" width="60px" alt="">
      </section>

      <footer class="card__footer">
        <div class="card__job-summary">
          <div class="card__job-icon">
            <img height="30" width="30" viewBox="0 0 250 250" src="whitelightning-500x500.png">
          </div>
          <div class="card__job">
          </div>
        </div>

        <button class="card__btn">view</button>
      </footer>
    </article>

  </div>
  <div class="col">
    <article class="card">
      <section class="card__hero">
        <header class="card__hero-header">
          <span>Finance</span>
          <div class="card__icon">
          </div>
        </header>

        <p class="">AEM Medical</p>
        <img class="rounded" src="aemlogo.png" width="60px" alt="">
      </section>

      <footer class="card__footer">
        <div class="card__job-summary">
          <div class="card__job-icon">
            <img height="30" width="30" viewBox="0 0 250 250" src="whitelightning-500x500.png">
          </div>
          <div class="card__job">

          </div>
        </div>

        <button class="card__btn">view</button>
      </footer>
    </article>

  </div>
  <div class="col">

  </div>

  <div class="col">

  </div>
  <div class="col">


  </div>
  <div class="col">

  </div>
</div>
