<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="check.png" alt="" width="100" height="100">
  <h1 class="display-5 fw-bold text-body-emphasis">Thank you for Your Submittion</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">We will review your submission and get back to you shortly, either via email or phone. Sit back, relax, and prepare for takeoff!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/"><button type="button" class="btn text-light  btn-md px-4 gap-3" style="background-color: #67923c">Back to home</button></a>
    </div>
  </div>
</div>
